!!! 5
//if lt IE 7
  html.no-js.ie6.oldie(lang='en')
//if IE 7
  html.no-js.ie7.oldie(lang='en')
//if IE 8
  html.no-js.ie8.oldie(lang='en')
//[if gt IE 8]><!
html.no-js(lang='en')
  //<![end if]
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    title=title
    meta(name="description", content=description)
    meta(name="author", content=author)
    meta(name="viewport", content='width=1280')

    script(src="http://fast.fonts.net/jsapi/23aaac86-bba1-4b09-b625-9dd3675821b1.js")
    script(src="//use.typekit.net/quy1dkn.js")
    script.
      try{Typekit.load();}catch(e){}

    link(rel='stylesheet', href='/css/bootstrap.min.css')

    link(rel='stylesheet', href='/css/grid.css')
    link(rel='stylesheet', href='/css/base.css' )

    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Glegoo')
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Open+Sans:400,700')
    //script(src='js/libs/modernizr-2.0.6.min.js')

    script
        var switchTo5x=true;
    script(src="http://w.sharethis.com/button/buttons.js")
    script
        stLight.options({publisher: "fc82ca7e-e0a9-419a-96b9-ad0a2dc90622", doNotHash: false, doNotCopy: false, hashAddressBar: false});

    script(src="http://cdn.sublimevideo.net/js/j2zp1tsa.js")

    script(src="//j.maxmind.com/js/geoip.js")
    script(src="//j.maxmind.com/js/apis/geoip2/v2.0/geoip2.js")

  body(class=pageid)
    block header

    div#topadunit
        div.ad.
            <!-- begin ad tag (tile=1) -->
            <script type="text/javascript">
            //<![CDATA[
            var ord=Math.random()*10000000000000000;
            document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/home;tile=1;sz=728x90,970x90;ord=' + ord + '?"><\/sc'+'ript>');
            //]]>
            </script>
            <noscript><a href="http://ad.doubleclick.net/jump/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
            <!-- end ad tag -->
    div.wrapper
        div.left-dock
            a(href='/', class='logo')
                img(src='/images/layout/queen-latifah.png')


            ul.newNav.list-unstyled.uc
                li.latifah
                    a(href="/latifah.html")
                        img(src='/images/layout/icon_q.png', class='icon')
                        | Latifah
                        img(src='/images/layout/nav_arrow.png', class='arrow')
                li.loving.dropdown
                    a(data-toggle="dropdown", href="/loving.html")
                        img(src='/images/layout/icon_loving.png', class='icon')
                        | Loving
                        img(src='/images/layout/nav_arrow.png', class='arrow')
                        ul(class="dropdown-menu")
                            li
                                a(class="link", href="/loving/hollywood-cover-girl.html")
                                    img(class="pull-left", src="/images/loving/sm/hollywood-cover-girl.jpg", width="90", height="55")
                                    p Hollywood Cover Girl
                                    span.view view
                li.learning.dropdown
                    a(data-toggle="dropdown", href="/learning.html")
                        img(src='/images/layout/icon_learning.png', class='icon')
                        | Learning
                        img(src='/images/layout/nav_arrow.png', class='arrow')
                        ul(class="dropdown-menu")
                            li
                                a(class="link", href="/article/1")
                                    img(class="pull-left", src="http://placehold.it/180x110", width="90", height="55")
                                    p Summer Read Wrap-up
                                    span.view view
                            li
                                a(class="link", href="/article/1")
                                    img(class="pull-left", src="http://placehold.it/180x110", width="90", height="55")
                                    p Shining Spotlight on
                                    span.view view
                            li
                                a(class="link", href="/article/1")
                                    img(class="pull-left", src="http://placehold.it/180x110", width="90", height="55")
                                    p $ave Money - Go Green!
                                    span.view view
                li.laughing.dropdown
                    a(data-toggle="dropdown", href="/laughing.html")
                        img(src='/images/layout/icon_laughing.png', class='icon')
                        | Laughing
                        img(src='/images/layout/nav_arrow.png', class='arrow')
                        ul(class="dropdown-menu")
                            li
                                a(class="link", href="/laughing/go-behind-the-scenes.html")
                                    img(class="pull-left", src="/images/laughing/sm/scenes.jpg", width="90", height="55")
                                    p Go Behind the Scenes with Queen Latifah
                                    span.view view
                            li
                                a(class="link", href="/laughing/latifah-helps-with-the-weather.html")
                                    img(class="pull-left", src="/images/laughing/sm/weather.jpg", width="90", height="55")
                                    p <abbr title="Queen Latifah">La'</abbr> helps with the weather forecast
                                    span.view view
                            li
                                a(class="link", href="/laughing/hot-time-in-chicago.html")
                                    img(class="pull-left", src="/images/laughing/sm/chicago.jpg", width="90", height="55")
                                    p(style="whitespace:pre")
                                     | Hot Time in Chicago!
                                    span.view view
                li.living.dropdown
                    a(data-toggle="dropdown", href="/living.html")
                        img(src='/images/layout/icon_living.png', class='icon')
                        | Living
                        img(src='/images/layout/nav_arrow.png', class='arrow')
                        ul(class="dropdown-menu")
                            li
                                a(class="link", href="/article/1")
                                    img(class="pull-left", src="http://placehold.it/180x110", width="90", height="55")
                                    p Mani-c Monday: Fabulous Florals
                                    span.view view
                            li
                                a(class="link", href="/article/1")
                                    img(class="pull-left", src="http://placehold.it/180x110", width="90", height="55")
                                    p Look Fly, Be Cool -- All in Time for B2School!
                                    span.view view
                            li
                                a(class="link", href="/article/1")
                                    img(class="pull-left", src="http://placehold.it/180x110", width="90", height="55")
                                    p How to Buy on a Budget
                                    span.view view

            div.where-to-watch
                h2 Where to watch
                div.clearfix
                    div.time.col-6.uc
                        h3 Weekdays
                        ul.list-inline
                    div.channel.col-6
                        h3.hidden Channels
                        ul.list-inline

                ul.links.list-unstyled
                    li.col-6
                        a(class="view-all", href="/pdf/where-to-watch-q.pdf", target="_blank", title="View Listings") View All
                    li.col-6
                        a(class="my-area", data-toggle="modal", href='#watchModal') My Area
                a(class="get-tix", href="http://1iota.com/Show/305/The-Queen-Latifah-Show", target="_blank", title="Get Tickets") Get Tickets!

        div.content
            block content

        div.right-dock
            ul.social.list-inline
                li.fb
                    a(href="https://www.facebook.com/QueenLatifah", target="_blank", title="find me on facebook!") facebook
                li.t
                    a(href="https://twitter.com/IAMQUEENLATIFAH", target="_blank", title="shout out on twitter!") twitter
                li.i
                    a(href="http://instagram.com/queenlatifah", target="_blank", title="follow me on instagram!") instagram
                li.yt
                    a(href="http://www.youtube.com/user/QueenLatifahShow", target="_blank", title="watch me on youtube!") youtube

            div.daily
                a.dose(href='/queue')
                    | Daily Queue
                a.join(href='http://queenlatifah.com/keepmeupdated/')
                    | Join the Q!
            div.internalcta
                img(src='/images/layout/be-on-the-show.jpg')
                a.text(href="http://queenlatifah.com/nominatehero/", target="_blank")
                    h2 Be on the Show
            div.right-ad-unit.
                <!-- begin ad tag (tile=1) -->
                <script type="text/javascript">
                //<![CDATA[
                ord=Math.random()*10000000000000000;
                document.write('<script type="text/javascript" src="http://ad.doubleclick.net/adj/queen.opus/home;tile=1;sz=300x250;ord=' + ord + '?"><\/sc'+'ript>');
                //]]>
                </script>
                <noscript><a href="http://ad.doubleclick.net/jump/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" target="_blank" ><img src="http://ad.doubleclick.net/ad/queen.opus/home;tile=1;sz=970x30,970x90;ord=123456789?" border="0" alt="" /></a></noscript>
                <!-- end ad tag -->
            div.twitter
                h3
                    a(href="https://twitter.com/IAMQUEENLATIFAH", target="_blank") @IAMQUEENLATIFAH
                ul.tweets.text-center.list-unstyled
    div#footer
        &copy; 2013 Sony Pictures Television Inc. All Rights Reserved. <a href="http://www.sonypictures.com/corp/privacy.html">Privacy Policy</a> | <a href="http://www.sonypictures.com/corp/tos.html">Terms of Use</a>
        div.hr

    block footer
      block modal

    div#watchModal.modal.fade
        div.modal-dialog
            div.modal-content
                div.modal-header
                    h4.modal-title Where to Watch
                    button(type="button", class="close", data-dismiss="modal", aria-hidden="true")
                        span &times;
                div.modal-body
                    div.row.location
                        div.col-7.text-center
                            p(style="border-right:1px solid") my location:
                                span.city

                                    script
                                        document.write( ' '+geoip_city()+', '+geoip_region() );
                        div.col-5.alpha.omega
                            p.pull-left change:
                            form
                                //limit to
                                input(class="pull-left", placeholder="zip code")
                                a.btn.change-zipcode go
                    ul.listings.list-unstyled.text-center.uc
                        li
                            p.col-3 11am
                            p.col-3 cbs2-la
                            p.col-3 chnl 565
                            img(class="col3", src="http://placehold.it/30x30")
                        li
                            p.col-3 11am
                            p.col-3 cbs2-la
                            p.col-3 chnl 565
                            img(class="col3", src="http://placehold.it/30x30")
                        li
                            p.col-3 11am
                            p.col-3 cbs2-la
                            p.col-3 chnl 565
                            img(class="col3", src="http://placehold.it/30x30")
                div.modal-footer.row.alpha.omega
                    p.col-8.alpha Watch the Queen Latifah Show Live!
                    a(class="btn w2w-tix pull-left", href="http://1iota.com/Show/305/The-Queen-Latifah-Show", target="_blank", title="See the Queen live!") Get Tickets

        footer
        script(src='//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
        script(src='/js/jquery.backstretch.min.js')
        script(src='/js/jquery.imagesloaded.js')
        script(src='/js/bootstrap.custom.min.js')
        script(src='/js/jquery.mosaicflow.min.js')
        script(src='/js/tvguide.js')
        script
              window.jQuery || document.write('<script src="js/libs/jquery-1.7.1.min.js"><\\/script>')
        //-script(defer, src='js/plugins.js')
        script(src='/js/script.js')
        script(src='/js/swipe.min.js')
        script
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview'],['_trackPageLoadTime']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];g.async=1;
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));